<link rel="stylesheet" href="/styles/back-button.css">

<button onclick="topFunction()" id="back_btn" class="button is-success back-to-top-button is-hidden-mobile">
    <span class="icon">
        <i class="fa-solid fa-arrow-up"></i>
    </span>
</button>

<script src="/assets/back-button.js"></script>