<div class="container">
    <div class="columns">
        {% for key, val in blocks %}
            <div class="column">
                <div class="card card-equal-height">                    
                    <div class="card-content">
                        <p class="subtitle">
                            {{ val.header }}
                        </p>
                        <div class="content">
                            <p {% if key == "block_f" %} style="color:red" {% endif %}>{{ val.name }}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ val.ref }}" class="card-footer-item">Continue reading</a>
                    </footer>
                </div>                
            </div>            
        {% endfor %}
    </div>
</div>