<footer class="footer">
    <div class="columns">
        <div class="column">
            <article class="media">
                <a href="/">
                    <p class="is-size-6"><strong>{{ site.title }}</strong></p>
                </a>
            </article>
            <article class="media">
                <figure class="meida-left mr-2">
                    <p class="image is-32x32">
                        <img src="/img-original/spectra_icon_nobackground.png" alt="Spectra CE logo">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a target="_blank" href="https://spectra-perseus.org/">Spectra Centre of Excellence</a>
                    </div>
                </div>                
            </article>
            <article class="media">
                <figure class="media-left mr-2">
                    <p class="image is-32x32">
                        <img src="/img-original/bison-projects_icon_green.svg" alt="BISON project logo">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a target="_blank" href="https://bison-transport.eu/">
                            BISON Biodiversity and infrastructure synergies and opportunities for European transport networks
                        </a>
                    </div>
                </div>
            </article>
            {# <div>
                <a target="_blank" href="https://bison-transport.eu/">BISON Biodiversity and infrastructure synergies and opportunities for European transport networks</a>
            </div> #}
        </div>
        <div class="column">
            <p class="mb-1">Thematic blocks</p>
            {% for key, val in blocks %}
                <div>
                    <a href="{{ val.ref }}">
                        <p class="is-size-7 mb-1">{{ val.name }}</p>
                    </a>
                </div>
            {% endfor %} 
        </div>
        <div class="column">
            <p class="mb-1">Stakeholders blocks</p>
            {% for key, val in groups %}
                <div>
                    <a href="{{ val.ref }}">
                        <p class="is-size-7 mb-1">{{ val.name }}</p>
                    </a>
                </div>
            {% endfor %} 
        </div>
        <div class="column">
            <p class="mb-1">Other</p>
            <a href="/repository">
                <p class="mb-1">Repository</p>
            </a>
            <a href="/about-e-learning">
                <p class="mb-1">About platform</p>
            </a>
            {# <a href="/contacts">
                <p class="mb-1">Contacts</p>
            </a> #}
            <p>Contact us</p>
            <p class="is-size-7">SPECTRA Centre of Excellence EU</p>
            <p class="is-size-7">UM STU</p>
            <p class="is-size-7">Vazovova, 5, 81243</p>            
            <p class="is-size-7 mb-1">Slovak Republic</p>
            <p class="is-size-7">tel. +421 2 5727 6277</p>
            
        </div>
    </div>
</footer>