<div class="container">
    <div class="columns">
        {% for key, val in groups %}
            <div class="column">
                <a href="{{ val.ref }}">
                    <div class="card card-equal-height shadow-lg is-cursor-pointer">
                        <div class="card-image cover-image is-overflow-hidden">
                            <figure class="image is-4by3">
                                {# <img src="{{ val.image }}" alt="{{ val.alt }}"> DEL #}
                                {% image val.image, val.alt, 300 %}
                            </figure>
                        </div>              
                        <div class="card-content">
                            <div class="content">
                                <strong>{{ val.name }}</strong>
                            </div>
                        </div> 
                    </div>
                </a>
            </div>            
        {% endfor %}
    </div>
</div>
