<nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item center" href="/">
            <img src="/images/SPECTRA_logo_1nobackground.png" width="160px" height="36px">
        </a>        
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-text-weight-bold">
                {{ site.title }}
            </div>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
            </a>
            <a class="navbar-item" href="/about">
                About
            </a>
            <a class="navbar-item" href="/how-to-use">
                How to use
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Target groups
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/content/decision-makers">
                        Decision-makers
                    </a>
                    <a class="navbar-item" href="/content/professionals">
                        Professionals
                    </a>
                    <a class="navbar-item" href="/content/eu-level-actors">
                        EU level actors
                    </a>            
                </div>
            </div>
            <a class="navbar-item" href="/contacts">
                Contacts
            </a>        
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Add a click event on each of them
$navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

    });
});

});
</script>