<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">

<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
            element: "#search",
            showImages: false
        });
    });
</script>

{# Open modal window #}
<script src="/assets/modal-open.js" type="text/javascript"></script>

<div id="modal-js-search" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Search</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div id="search"></div>
        </section>    
    </div>
</div>