<aside class="menu-stick mt-5">    
    {# {% set navPages = collections.notes | eleventyNavigation %}
    <ul class="menu-list">
        {% for entry in navPages %}
            <li> <a{% if entry.url == page.url %} class="is-active"{% endif %} href="{{ entry.url }}">{{ entry.data.title }}</a>
            </li>
        {% endfor %}
    </ul> #}
    <p class="menu-label">General</p>
    <ul class="menu-list">
        <li><a href="/">Home</a></li>        
        <li><a href="/about">About</a></li>
    </ul>

    <p class="menu-label">Content</p>
    <ul class="menu-list">
        <li><a {% if page.url == "/content/decision-makers/" %} class="is-active"{% endif %} href="/content/decision-makers">Decision Makers</a>
            <ul>
        {% for note in collections.modules | sortByPageOrder %}
        <li>
            <a {% if note.url == page.url %} class="is-active"{% endif %} href="{{ note.url }}">{{ note.data.title }}</a>
        </li>
        {% endfor %}
            </ul>
        </li>
    </ul>   
      
</aside>