---
title: Repository
layout: layouts/page-repo.njk
---

<div class="columns">
    <div class="column is-one-third">
        <input class="input table-filter" type="text" data-table="filter-table" placeholder="Item to filter...">
    </div>
</div>

<script src="/scripts/filter-table.js"></script>

<table class="table-sort filter-table table">
    <thead>
        <tr>
            <th>Topic</th>
            <th class="onload-sort">Name</th>
            <th>Type</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Climate change, biodiversity and eco-connectivity</td>
            <td><a href="/files/IslandandthePipelineFINAL.pdf">Sandström, U. G., & Elander, I. (2021). Biodiversity, road transport    and urban planning: A Swedish local authority facing the challenge of establishing a logistics hub adjacent to a Natura 2000 site. Progress in Planning, 148, 100463.</a></td>
            <td>Article</td>
            <td><a href="https://www.researchgate.net/publication/337677882_Biodiversity_road_transport_and_urban_planning_A_Swedish_local_authority_facing_the_challenge_of_establishing_a_logistics_hub_adjacent_to_a_Natura_2000_site">ResearchGate</a></td>
        </tr>
        <tr>
            <td>Climate change, biodiversity and eco-connectivity</td>
            <td><a href="/files/2019BiodiversityDreamingbookchapterTSRpathways.pdf">Spooner, P. (2015). Minor rural road networks: values, challenges, and opportunities for biodiversity conservation. Nature Conservation, 11, 129-142.</a></td>
            <td>Article</td>
            <td><a href="https://www.researchgate.net/publication/281765090_Minor_rural_road_networks_Values_challenges_and_opportunities_for_biodiversity_conservation">ResearchGate</a></td>
        </tr>
        <tr>
            <td>Climate change, biodiversity and eco-connectivity</td>
            <td><a href="/files/s40823-017-0020-6.pdf">Bennett, V. J. (2017). Effects of road density and pattern on the conservation of species and biodiversity. Current Landscape Ecology.</a></td>
            <td>Article</td>
            <td><a href="https://link.springer.com/article/10.1007/s40823-017-0020-6">Springer</a></td>
        </tr>
        <tr>
            <td>Climate change, biodiversity and eco-connectivity</td>
            <td><a href="/files/State_of_the_ArtReport.pdf">Papp, C. R., Dostál, I., Hlaváč, V., Berchi, G. M., & Romportl, D. (2022).  Rapid linear transport infrastructure development in the Carpathians: A major threat to the integrity of ecological connectivity for large carnivores. Nature Conservation, 47, 35-63.</a></td>
            <td>Article</td>
            <td><a href="https://www.researchgate.net/publication/359479807_Rapid_linear_transport_infrastructure_development_in_the_Carpathians_A_major_threat_to_the_integrity_of_ecological_connectivity_for_large_carnivores">ResearchGate</a></td>
        </tr>
        <tr>
            <td>Climate change, biodiversity and eco-connectivity</td>
            <td><a href="/files/Carlier_2019.pdf">Carlier, J., & Moran, J. (2019). Landscape typology and ecological connectivity assessment to inform Greenway design. Science of the Total Environment, 651, 3241-3252.</a></td>
            <td>Article</td>
            <td><a href="https://www.researchgate.net/publication/328165114_Landscape_typology_and_ecological_connectivity_assessment_to_inform_Greenway_design">ResearchGate</a></td>
        </tr>
        <tr>
            <td>Climate change, biodiversity and eco-connectivity</td>
            <td><a href="/files/1-s2.0-S0169204615000602-main.pdf">Loro, M., Ortega, E., Arce, R. M., & Geneletti, D. (2015). Ecological connectivity analysis to reduce the barrier effect of roads. An innovative graph-theory approach to define wildlife corridors with multiple paths and without bottlenecks. Landscape and urban planning, 139, 149-162.</a></td>
            <td>Article</td>
            <td><a href="https://www.sciencedirect.com/science/article/pii/S0169204615000602">ScienceDirect</a></td>
        </tr>
    </tbody>
</table>
