---
title: Repository
layout: layouts/page-repo.njk
---

<div class="columns">
    <div class="column is-one-third">
        <input class="input table-filter" type="text" data-table="filter-table" placeholder="Item to filter...">
    </div>
</div>

<script src="/assets/filter-table.js"></script>

<table class="table-sort filter-table table">
    <thead>
        <tr>
            <th>Topic</th>
            <th class="onload-sort">Name</th>
            <th>Type</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for key, val in repository_data %}
            <tr>
                <td>{{ val.topic }}</td>
                <td><a href="{{ val.ref_local }}">{{ val.name }}</a></td>
                <td>{{ val.type }}</td>
                <td><a href="{{ val.ref_ext }}">{{ val.source }}</a></td>
            </tr>
        {% endfor %}        
    </tbody>
</table>