<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/helpers-v3.css">
    <link rel="stylesheet" href="/styles/cards.css">    
    <script src="https://kit.fontawesome.com/9d4ed40e5e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/table-sort-js/table-sort.min.js"></script>
    <script src="/assets/open-pdf-new-tab.js"></script>
    {# <link rel="stylesheet" href="/styles/debug.css"> #}
    <title> {{ site.title }} </title>

    {% favicons "./src/img-original/spectra_favicon.png", manifestData={name: '{{ site.title }}' } %}

</head>
<body>
    {% include "nav-header.njk" %}
    
    <main class="hero is-fullheight">
        {{ content | safe }}

        {% include "footer.njk" %}
    </main>    
</body>
</html>
