---
layout: layouts/base.njk
---

<section class="page-layout">
    <div class="container">
        <div class="columns">
            <div class="column mt-5">
                <aside class="menu">                
                    <p class="menu-label">
                    General
                    </p>
                    <ul class="menu-list">
                    <li><a>Dashboard</a></li>
                    <li><a>Customers</a></li>
                    </ul>
                    <p class="menu-label">
                    Administration
                    </p>
                    <ul class="menu-list">
                    <li><a>Team Settings</a></li>
                    <li>
                        <a class="menu-list">Manage Team</a>
                        <ul>
                        <li><a>Members</a></li>
                        <li><a>Plugins</a></li>
                        <li><a>Add a member</a></li>
                        <li><a>Members</a></li>
                        <li><a>Plugins</a></li>
                        <li><a>Add a member</a></li>                      
                        <li><a>Add a member</a></li>
                        </ul>
                    </li>
                    <li><a>Invitations</a></li>
                    <li><a>Cloud Storage Environment Settings</a></li>
                    <li><a>Authentication</a></li>
                    </ul>
                    <p class="menu-label">
                    Transactions
                    </p>
                    <ul class="menu-list">
                    <li><a>Payments</a></li>
                    <li><a>Transfers</a></li>
                    <li><a>Balance</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column content is-two-thirds">
                <article class="content mt-5">
                    <h1 class="title">{{ title }}</h1>
                    
                    {{ content | safe }}
                </article>
            </div>
        </div>
    </div>
</section>