---
title: Decision Makers
layout: layouts/post.njk
---

<div class="container">
    <ul>
        {%- for post in collections.notes | sortByPageOrder -%}
          <li>
                <a href="{{ post.url }}">{{ post.data.title }}</a>
          </li>
        {%- endfor -%}
    </ul>    
</div>
