---
layout: layouts/page-block.njk
block_name: "block_climate"
---

<div class="container">    
    <ul>      
        <li>
            <a href="{{ blocks[block_name].ref_general }}">Introduction</a>
        </li>
        <li>
            <a href="{{ blocks[block_name].ref_general }}#climate-change">Climate change</a>
        </li>
        <li>
            <a href="{{ blocks[block_name].ref_general }}#biodiversity">Biodiversity</a>
        </li>
        <li>
            <a href="{{ blocks[block_name].ref_general }}#eco-connectivity">Eco-connectivity</a>
        </li>
        <li>
            <a href="{{ blocks[block_name].ref_general }}#bison-outputs">BISON outputs</a>
        </li>
        <li>
            <a href="{{ blocks[block_name].ref_general }}#climate-change-impact-biodiversity">
                Climate change impact on biodiversity and ways to cope with drastic outcomes
            </a>
        </li>
        <li>
            <a href="{{ blocks[block_name].ref_general }}#climate-change-impact-eco-connectuvity">
                Climate change impact on eco-connectivity and ways to cope with drastic outcomes
            </a>
        </li>
    </ul>    
</div>