---
layout: layouts/page-block.njk
block_name: "block_decision_making"
---

<div class="container">
  <ul>
        <li>
            <a href="/notes/decision-making">General part</a>
        </li>
        
  </ul>    
</div>
