---
layout: layouts/page-block.njk
block_name: "block_innovations"
---

<div class="container">    
    <ul>      
        <li>
            <a href="{{ blocks[block_name].ref_general }}">Introduction</a>
        </li>
        <li>
            <a href="{{ blocks[block_name].ref_general }}#development-innovation">Development and innovations in transport technologies</a>
        </li>
        <li>
            <a href="{{ blocks[block_name].ref_general }}#development-innovation">Innovations in transport organization</a>
        </li>
        <li>
            <a href="{{ blocks[block_name].ref_general }}#development-innovation">Transport infrastructure development</a>
        </li>
        <li>
            <a href="{{ blocks[block_name].ref_general }}#development-innovation">Implications for biodiversity mainstreaming</a>
        </li>
    </ul>    
</div>