---
layout: layouts/page-block.njk
block_name: "block_sea_eia"
---

<div class="container">
  <ul>
        {# {{ "notes/SEA-EIA.md" | toc | safe }} #}
        <li>
            <a href="/notes/SEA-EIA">General part</a>
        </li>
        <li>
            <a href="/notes/SEA-EIA#sea-process">SEA Process</a>
        </li>
        <li>
            <a href="/notes/SEA-EIA#eia-process">EIA Process</a>
        </li>
        <li>
            <a href="/notes/SEA-EIA#role-of-processes">Role of SEA/EIA processes in maintaining ecological connectivity</a>
        </li>
        <li>
            <a href="/notes/SEA-EIA#references">References</a>
        </li>
        <li>
            <a href="/notes/SEA-EIA#training-package">EIA/SEA Training Package</a>         
        </li>
  </ul>    
</div>
