---
title: Homepage
layout: layouts/base.njk
---

<section class="section has-background-light">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="center">                    
                    <img src="images/bison-projects_logo.svg" width="350" height="120">                
                </figure>
                <div class="block center mt-6">
                    <p class="title is-4">Spectra e-learning Platform contains courses<br>
                        developed as the result of implementation<br>
                        Bison EU Project</p>
                </div>
                <div class="columns">
                    <div class="column center">
                        <a href="/about" class="button">About Platform</a>
                    </div>
                    <div class="column center">
                        <a href="https://bison-transport.eu/" class="button is-success">About Bison Project</a>
                    </div>
                </div>
            </div>
            <div class="column desktop">
                <figure class="image center">
                    <img src="images/biodiversity-visual-bg13.svg">
                </figure>
            </div>
        </div>        
    </div>    
</section>

<section class="section">
    <h1 class="title has-text-centered">Information for target groups</h1>
    <hr class="solid">
    <div class="container">        
        <div class="columns">
            <div class="column is-one-fifth">
                <a href="content/decision-makers">
                <div class="card py-4 is-showdow-xl is-shadow-none is-cursor-pointer 
                            transform is-duration-300 hover-translate-y">
                    <header class="card-header">
                        <p class="card-header-title is-centered">
                            Decision-makers
                        </p>                        
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Brief explanation who <strong>decision-makers</strong> are.
                        </div>
                    </div>
                    {# <footer class="card-footer">                        
                        <a href="content/decision-makers" class="card-footer-item">Go to Course</a>
                    </footer> #}
                </div>
                </a>
            </div>
            <div class="column is-one-fifth">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-centered">
                            Professionals
                        </p>                        
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Brief explanation who <strong>Professionals</strong> are.
                        </div>
                    </div>
                    <footer class="card-footer">                        
                        <a href="content/professionals" class="card-footer-item">Go to Course</a>
                    </footer>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-centered">
                            EU level actors
                        </p>                        
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Brief explanation who <strong>EU level actors</strong> are.
                        </div>
                    </div>
                    <footer class="card-footer">                        
                        <a href="content/eu-level-actors" class="card-footer-item">Go to Course</a>
                    </footer>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-centered">
                            Civil society
                        </p>                        
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Brief explanation who <strong>civil society</strong> are.
                        </div>
                    </div>
                    <footer class="card-footer">                        
                        <a href="content/civil-society" class="card-footer-item">Go to Course</a>
                    </footer>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-centered">
                            National actors
                        </p>                        
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Brief explanation who <strong>National actors</strong> are.
                        </div>
                    </div>
                    <footer class="card-footer">                        
                        <a href="/national-actors" class="card-footer-item">Go to Course</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>