---
title: Homepage
layout: layouts/base.njk
---

<section class="section has-background-light">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="center">                    
                    <img src="/img-original/bison-projects_logo.svg" width="350" height="120">
                </figure>
                <div class="block center mt-6">
                    <p class="title is-4">{{site.title}} contains courses
                        developed as the result of implementation<br>
                        Bison EU Project</p>
                </div>
                <div class="columns">
                    <div class="column center">                        
                        <a href="/about-spectra" class="button" style="background-color: #00DBF8;">About Spectra CE</a>                        
                    </div>
                    <div class="column center">                        
                        <a href="/about-bison" class="button" style="background-color: #B4C941;">About Bison Project</a>
                    </div>
                </div>
            </div>
            <div class="column desktop">
                <figure class="image center">
                    <img src="/img-original/biodiversity-visual-bg13.svg">
                </figure>
            </div>            
        </div>        
    </div>    
</section>

<section class="section">
    <h1 class="title has-text-centered">Thematic Blocks</h1>    
    {% include "blocks.njk" %}
</section>

<hr class="solid">

<section class="section">
    <h1 class="title has-text-centered">Stakeholder Blocks</h1>    
    {% include "groups.njk" %}
</section>

<hr class="solid">

<section class="section">
    <h1 class="title has-text-centered">Transport Modes Specifics</h1>    
    {% include "transport.njk" %}
</section>
